.fancypantsaccordionholder ul li > a{
	font-size:36px;
}

@media only screen and (min-width : 320px) {

	.fancypantsaccordionholder{
		max-width:100%;
		margin: 0 auto;
	}

	.fancypantsaccordionholder ul li{
		height:30px;
		border-bottom:1px solid #ccc;
		border-top:1px solid #fff;
		overflow:hidden;
	}

	.fancypantsaccordionholder ul li:first-child{
		border-top:none;
	}

	.fancypantsaccordionholder ul li > a{
		font-family:sans-serif;
		color:#444;
		text-shadow:1px 1px 1px #fff;
		font-size:14px;
		display:block;
		position:relative;
		line-height:30px;
		outline:none;
		-webkit-transition: color 0.2s linear;
		-moz-transition: color 0.2s ease-in-out;
		-o-transition: color 0.2s ease-in-out;
		-ms-transition: color 0.2s ease-in-out;
		transition: color 0.2s ease-in-out;
	}

	.fancypantsaccordionholder ul li > a p{
		font-size:10px;
	}

	.fancypantsaccordionholder ul li > a span{
	   	background: transparent url('down.png') no-repeat center center;
	    text-indent:-9000px;
	    width: 26px;
	    display:block;
	    height: 14px;
	    position: absolute;
	    top: 50%;
	   	right: 0;
	    margin-top: -7px;
	    opacity:0;
	    -webkit-transition:  all 0.2s ease-in-out;
	    -moz-transition:  all 0.2s ease-in-out;
	    -o-transition:  all 0.2s ease-in-out;
	    -ms-transition:  all 0.2s ease-in-out;
	    transition:  all 0.2s ease-in-out;
	}

	.fancypantsaccordionholder ul li > a:hover span{
		opacity:1;
		right:10px;
	}

	.fancypantsaccordionholder ul li.acc-open > a span{
		-webkit-transform:rotate(180deg);
		-moz-transform:rotate(180deg);
		transform:rotate(180deg);
		right:10px;
		opacity:1;
	}

	.acc-content{
		padding:5px 0px 30px 0px;
		max-width:100%;
	}

	.acc-content img, .acc-content > *{
		max-width:100%;
		word-wrap:break-word;
	}

}